.Character-List {
  margin: var(--spacing-large) 0 var(--spacing-medium) 0;

  /*Helps with CLS*/
  min-height: 300px;
}

.Character-List__item {
  height: 5rem;

  margin-bottom: var(--spacing-small);
  padding: var(--spacing-small);

  background-color: var(--secondary-color);

  box-shadow: 1px 1px 2px 2px var(--tertiary-color);
}

.Character-List__item-content {
  display: flex;
  gap: var(--spacing-small);

  text-decoration: none;
  color: black;
}

.Character-List__item-image {
  width: 5rem;
  height: 5rem;

  margin-right: var(--spacing-small);
}

/**** Text ****/

.Character-List__item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.Character-List__item-name {
  color: var(--font-color);

  font-size: 1.05rem;
  font-weight: bold;
}

/**** NAVIGATION ****/

.Character-List__controls {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: var(--spacing-medium) 0;
}

.Character-List__controls-button {
  /*Size that is comfortable for mobile clicks*/
  width: 40px;
  height: 40px;

  font-weight: bold;
}

.Character-List__controls-button:focus,
.Character-List__controls-button:hover {
  background-color: var(--secondary-color);
  border-radius: 50%;
}

.Character-List__controls-info {
  margin: 0 var(--spacing-small);
}
