.Filter {
  padding: var(--spacing-small);

  border-left: 2px solid var(--highlight-color);
  border-right: 2px solid var(--highlight-color);

  background-color: var(--tertiary-color);
}

.Filter__hint {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: end;
}

.Filter__item {
  display: flex;
  flex-direction: column;

  margin-bottom: var(--spacing-small);
}

.Filter__controls {
  display: flex;
  justify-content: flex-end;

  margin-top: var(--spacing-medium);
}

.Filter__controls-button {
  margin-right: var(--spacing-small);
  padding: var(--spacing-small);

  border: 1px solid var(--tertiary-color);
  border-radius: 5%;

  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
}
