.App-header {
  position: relative;

  display: flex;
  align-items: center;

  height: 5rem;
  margin-bottom: 70px;
  padding: 0 1rem;

  background-color: var(--secondary-color);

  font-family: Arial, Helvetica, sans-serif;

  z-index: var(--z-index-header);
}

.App-header__heading {
  font-family: "Orkney", sans-serif;
}

.App-header__logo {
  height: 50%;
  margin-right: 12px;
}

/****  MAIN ****/

.App-main {
  position: relative;

  margin: 0 var(--spacing-medium);
}

.App-main__filter-container {
  position: absolute;
  top: -400px;

  width: 100%;

  z-index: var(--z-index-modal);
}

.App-main__filter {
  display: flex;
  justify-content: center;

  position: relative;
  height: 30px;
  margin-bottom: var(--spacing-extra-large);

  border-right: 2px solid var(--highlight-color);
  border-bottom: 2px solid var(--highlight-color);
  border-left: 2px solid var(--highlight-color);

  background-color: var(--tertiary-color);
  box-shadow: 0px 20px 10px 1px rgba(0, 0, 0, 0.3);
}

.App-main__filter-button {
  position: absolute;
  bottom: 0px;

  width: 10rem;

  transform: translateY(50%);

  box-shadow: 0 0 2px 2px var(--highlight-color);
}

.App-main__list-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  margin-top: var(--spacing-large);
}

.App-main__list-results {
  text-align: end;
}

/**** FOOTER ****/

.App-footer {
  display: flex;
  justify-content: flex-end;

  padding: var(--spacing-small);

  text-align: end;
}

/**** MISC ****/

.App-main__error {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50vh;

  text-align: center;
}
