:root {
  --main-color: #f4b16c;
  --secondary-color: #ffc0ba;
  --tertiary-color: #ff8885;
  --font-color: #c35353;

  --spacing-large: 24px;
  --spacing-medium: 16px;
  --spacing-small: 8px;
}

html,
body {
  font-family: "Orkney", sans-serif;

  background-color: var(--main-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
